body {
  margin: 0;
  padding: 0;
  background-color: #02241D;
}

.navbar-title {
	position: relative;
	padding-left: 75px;
	float: left;
	color: #CA5541;
	font-weight: normal;
	text-decoration: none;
	margin-top: 35px;
}

.logo-line{
	position:absolute;
  	top: 80px;
  	height: 20px;
  	border-top: solid 1px #1DB7F0;
  	width: 101%;
  	background-color: #02241D;
  	transform: rotate(-1deg);
}

.decorative-line {
	border-top: solid 1px #1DB7F0;
	width: 960px;
}

.small-decorative-line {
	margin-top: 30px;
	border-top: solid 1px white;
	width: 60px;
}

li {
	list-style-type: none;
}

.nav {
	padding-top: 30px;
}

.project-card {
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.MuiGrid-typeItem-2.MuiGrid-grid-xs-12-38.MuiGrid-grid-sm-2-41.app-nav-item {
	padding-top: 90px;
}

.nav-item {
	padding-top: 100px;
	padding-left: 50px;
	padding-right: 50px;
	color: white;	
	text-decoration: none;
	position: inline;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #1DB7F0;
    transition: width .3s;
}

.nav-item:hover::after {
    width: 35%;
}

.content-container {
	display: flex;
	flex-direction: row;
	padding-top: 150px;	
}

.left-menu-column {
	display: flex;
	flex-direction: column;
	color: #217A63;
	font-size: 15px;
	width: 25%;
}

.left-menu-column li {
	padding-left: 75px;
	padding-bottom: 10px;
}

.image-row {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	width: 75%;
}

.project-img  {
	background-color: white;
	cursor: pointer;
	max-height: 100%;
	max-width: 100%;
}

.project-card {
	margin: 2px;
	height: 300px;
	width: 350px;
	overflow: hidden;
}

.project-text {
	position: relative;
	bottom: 140px;
	right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	font-size: 17px;
	font-weight: 10;
	transform: rotate(4deg);
	background: rgba(0,0,0,0.5);
	color: white;
	cursor: pointer;
	width: 400px;
	height: 150px;
	opacity: 0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
}

.project-text span {
	display: block;
	padding-top: 80px;
	padding-left: 5px;
	transform: rotate(-4deg);
}

.project-card:hover .project-text {
  opacity: 1;
}

.project-modal-img  {
	background-color: white;
	max-height: 100%;
	max-width: 100%;
}

.project-modal-card {
	margin: 2px;
	height: 650px;
	width: 1000px;
	overflow: hidden;
}

.project-modal-text {
	position: relative;
	bottom: 200px;
	right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	font-size: 17px;
	font-weight: 10;
	transform: rotate(3deg);
	background: rgba(0,0,0,0.5);
	color: white;
	width: 1000px;
	height: 500px;
	opacity: 1;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
}

.project-modal-text span {
	display: block;
	padding-top: 80px;
	padding-left: 5px;
	transform: rotate(-3deg);
}

.project-modal-card:hover .project-modal-text {
  opacity: 1;
}

.project-modal {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-upper-left {
	position: relative;
	cursor: pointer;
	bottom: 60%;
	width: 80px;
	border-top: solid 2px;
	border-color: #217A63;
	
	transform: rotate(-73deg);
}

.button-lower-left {
	position: relative;
	cursor: pointer;
	bottom: 48.5%;
	width: 80px;
	border-top: solid 2px;
	border-color: #217A63;
	transform: rotate(73deg);
}

.button-upper-right {
	position: relative;
	cursor: pointer;
	float: right;
	bottom: 60%;
	width: 80px;
	border-bottom: solid 2px;
	border-color: #217A63;
	transform: rotate(73deg);
}

.button-lower-right {
	position: relative;
	cursor: pointer;
	float: right;
	bottom: 64.79%;
	width: 80px;
	border-bottom: solid 2px;
	border-color: #217A63;
	transform: rotate(-73deg);
	padding-top: 167px;
}

.right-menu-column {
	display: flex;
	flex-direction: column;	
	justify-content: center;
	width: 75%;
}

.img-window {
	height: 480px;
	overflow: hidden;
}

.img-window img {
	position: relative;
	bottom: 250px;
	height: 960px;
}

.about-text {
	padding-top: 30px;
	width: 960px;
	color: white;
	padding-bottom: 30px;	
}

.social-media {
	padding-bottom: 20px;
}


.fa {
	font-size: 30px;
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
	text-decoration: none;
	color: #02241D;
	background-color: #217A63;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.fa-instagram {
	text-decoration: none;
	color: #02241D;
	background-color: #217A63;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.fa-linkedin {
	text-decoration: none;
	color: #02241D;
	background-color: #217A63;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
