body {
  margin: 0;
  padding: 0;
  background-color: #02241D;
}

#root {
	max-width: 1100px;
}

h1.last_name {
	font-family: 'Lora', serif;
	font-weight: bold;
	margin-left: 140px;
	padding-top: 11px;
	color: #CA5541;

}

.navbar-title {
	position: absolute;
	font-family: 'Raleway', sans-serif;
	padding-left: 75px;
	float: left;
	color: #CA5541;
	font-weight: normal;
	text-decoration: none;
	margin-top: 35px;
}

.left-nav {
	display: flex;
	flex-direction: column;
	width: 25%;
}

.right-nav {
	display: flex;
	background-color: #02241D;
	justify-content: flex-end;
	width: 75%;
	padding-left: 270px;
}

.logo-line {
	position:absolute;
  	top: 83px;
  	height: 20px;
  	border-top: solid 1px #1DB7F0;
  	width: 101%;
  	background-color: #02241D;
  	transform: rotate(-0.79deg);
}

.decorative-line {
	border-top: solid 1px #1DB7F0;
	width: 960px;
}

.small-decorative-line {
	margin-top: 30px;
	border-top: solid 1px white;
	width: 60px;
}

li {
	list-style-type: none;
}

.nav {
	padding-top: 30px;
}

.project-card {
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.MuiGrid-typeItem-2.MuiGrid-grid-xs-12-38.MuiGrid-grid-sm-2-41.app-nav-item {
	padding-top: 90px;
}

.nav-item {
	font-size: 17px;
	padding-left: 65px;
	font-family: 'Lora', serif;
	padding-top: 20px;		
	color: white;	
	text-decoration: none;
	width: 110px;
	text-align: right;
}

.nav-item.contact{
	font-size: 17px;
	padding-left: 65px;
	font-family: 'Lora', serif;
	padding-top: 20px;		
	color: white;	
	text-decoration: none;
	width: 125px;
	text-align: right;
}

div.MuiGrid-typeItem-2.MuiGrid-grid-xs-12-38.MuiGrid-grid-sm-2-41.app-nav-item {
	padding-top: 130px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.nav-item::after {
    content: '';
    display: block;
    margin-top: 5px;
    width: 0;
    height: 1px;
    background: #1DB7F0;
    transition: width .3s;
}

.nav-item:hover::after {
    width: 75%;
}

.content-container {
	display: flex;
	flex-direction: row;
	padding-top: 90px;	
	margin: 0 auto;
}

.left-menu-column {
	display: flex;
	flex-direction: column;
	color: #217A63;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	width: 25%;
}

.left-menu-column.about {
	color: #02241D;
}

.left-menu-column li {
	padding-left: 75px;
	padding-bottom: 10px;
	cursor: pointer;
}

.left-menu-column li:hover {
	opacity: .6;
}

.image-row {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	width: 75%;
}

.project-img  {
	background-color: white;
	cursor: pointer;
	max-height: 100%;
}

.project-card {
	margin: 5px;
	height: 205px;
	width: 265px;
	overflow: hidden;
}

.project-text {
	position: relative;
	bottom: 66px;
	right: 28px;
	padding-left: 20px;
	padding-bottom: 10px;
	font-size: 15px;
	font-weight: 10;
	transform: rotate(4deg);
	background: rgba(2,36,29,0.75);
	color: white;
	cursor: pointer;
	width: 400px;
	height: 100px;
	opacity: 0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
}

.project-text span {
	display: block;
	padding-top: 20px;
	padding-left: 17px;
	transform: rotate(-4deg);
}

.project-card:hover .project-text {
  opacity: 1;
}

.project-modal-card img  {
	background-color: white;
	max-height: 100%;
	max-width: 100%;
}

.project-modal-card {
	height: 750px;
	width: 900px;
	overflow: hidden;
}

.project-modal-text {
	position: relative;
	bottom: 315px;
	right: 20px;
	padding-left: 20px;
	font-size: 13px;
	font-weight: 10;
	transform: rotate(2deg);
	background: rgba(2,36,29,0.75);
	color: white;
	height: 750px;
	opacity: 1;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
}

.project-modal-text-title {
	font-family: 'Lora', serif;
	font-weight: bold;
	display: block;
	font-size: 17px;
	padding-top: 2px;
	padding-left: 20px;
	transform: rotate(-4deg);
}

.project-modal-text-name {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	transform: rotate(-4deg);
	width: 255px;
	white-space: normal;
	padding-top: 15px;
	padding-left: 20px;
}

.inner-modal-text {
	position: relative;
	bottom: 190px;
	right: 23px;
	padding-left: 20px;
	font-size: 13px;
	font-weight: 10;
	transform: rotate(2deg);
	background: rgba(2,36,29,0.65);
	color: white;
	width: 935px;
	height: 750px;
	opacity: 1;
}

.inner-modal-text-title {
	position: relative;
	transform: rotate(-2deg);
	padding-left: 10px;
	font-family: 'Lora', serif;
	font-weight: bold;
	font-size: 17px;
}

span.desc {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	transform: rotate(-2deg);
}

.inner-modal-description {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	transform: rotate(-2deg);
	line-height: 1.65;
	width: 870px;
	padding-left: 10px;
	padding-top: 15px;
}

.project-modal-card:hover .project-modal-text {
  opacity: 1;
}

.project-modal-overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(2,36,29,0.75);
}

.project-modal {
	outline: none;
	height: 750px;
	width: 900px;
}


.button-upper-left-no-show {
	position: relative;
	left: 13px;
	cursor: pointer;
	bottom: 58.6%;
	width: 50px;
	height: 40px;
	opacity: 0;
	border-top: solid 2px;
	transform: rotate(-70deg);
}

.button-lower-left-no-show {
	position: relative;
	left: 13px;
	cursor: pointer;
	bottom: 60%;
	width: 50px;
	height: 40px;
	border-bottom: solid 2px;
	opacity: 0;
	margin-bottom: 10px;
	transform: rotate(70deg);
}

.button-upper-left {
	position: relative;
	left: 13px;
	cursor: pointer;
	bottom: 58.6%;
	width: 30px;
	height: 40px;
	border-top: solid 2px;
	border-color: #217A63;
	transform: rotate(-70deg);
}

.button-lower-left {
	position: relative;
	left: 13px;
	cursor: pointer;
	bottom: 62.4%;
	width: 30px;
	height: 40px;
	border-bottom: solid 2px;
	margin-bottom: 10px;
	border-color: #217A63 !important;
	transform: rotate(70deg);
}


.button-upper-right {
	position: relative;
	right: 15px;
	cursor: pointer;
	float: right;
	bottom: 72%;
	width: 30px;
	height: 40px;
	border-top: solid 2px;
	border-color: #217A63;
	transform: rotate(73deg);
}

.button-lower-right {
	position: relative;
	cursor: pointer;
	left: 15px;
	float: right;
	bottom: 69.8%;
	width: 30px;
	height: 40px;
	border-bottom: solid 2px;
	border-color: #217A63 !important;
	transform: rotate(-73deg);
}

.close-button-1{
	position: relative;
	cursor: pointer;
	left: 1px;
	bottom: 100%;
	width: 0px;
	height: 40px;
	padding-left: 50px;
	border-bottom: solid 1px;
	border-color: #217A63;
	transform: rotate(-45deg);
}

.close-button-2{
	position: relative;
	cursor: pointer;
	left: 29px;
	bottom: 105.4%;
	width: 0px;
	height: 40px;
	padding-left: 50px;
	border-bottom: solid 1px;
	border-color: #217A63;
	transform: rotate(45deg);
}

.right-menu-column {
	display: flex;
	flex-direction: column;	
	justify-content: center;
	width: 75%;
}

.img-window {
	height: 480px;
	overflow: hidden;
}

.img-window img {
	position: relative;
	bottom: 250px;
	height: 860px;
	width: 860px;
}

.about-title{
	font-family: 'Lora', serif;
	color: white;
	padding-top: 25px;
}

.about-text {
	font-family: 'Raleway', sans-serif;
	padding-top: 25px;
	font-size: 13px;
	width: 825px;
	color: white;
	padding-bottom: 30px;	
}

.right-menu-column.container{
	color: white;
}

.contact-paragraph-title {
	font-family: 'Lora', serif;
	font-weight: bold;
	font-size: 17px;
	padding-bottom: 20px;
}

.contact-name {
	font-family: 'Lora', serif;
	font-weight: bold;
	font-size: 17px;
	padding-bottom: 20px;
}

.contact-paragraph-content {
	font-family: 'Raleway', sans-serif;
	width: 310px;
	font-size: 13px;
	padding-bottom: 70px;
}

.contact-email{
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	padding-bottom: 20px;
}

.contact-phone-number {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	padding-bottom: 20px;
}

.contact-social {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
}

a.email{
	text-decoration: none !important;
	font-family: 'Raleway', sans-serif;
	color: white;
	padding-bottom: 20px;
}

img.social-media:hover {
	opacity: 0.7;
}

@media only screen and (max-device-width: 375px) {

	.nav {
    	padding-top: 0px;
		color: #02241D;
	}

	.left-nav {
		color: #02241D;
	}
	
	.navbar-title {
		padding-left: 10px;
		margin-top: 0px;	
	}

	h1.last_name {
		margin-left: 77px;
		margin-top: 0px;	
		padding-top: 0px;
		padding-bottom: 0px;
	}
	
	.logo-line {
		top: 23px;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}

	.left-menu-column li {
		padding-left: 15px;
		padding-bottom: 10px;
		cursor: pointer;
	}

	.project-modal {
		height: 100vh;
		width: 100vh;
	}

	.project-modal-card {
		max-height: 100%;
		max-width: 100%;
		height: auto;
		width: auto;
	}

	.nav-item, .nav-item.contact {
		padding: 0px 20px 0px 0px;		
		color: white;
		width: 200px;
		text-align: center; 
	}

	.right-nav {
		display: flex;
		justify-content: flex-end;
		padding-left: 40px;
	}

	.content-container {
		padding-top: 75px;
	}
}

@media (max-width: 768px),(max-height: 580px) {

	.logo-line {
		top: 85px;
	}

	.right-nav {
		padding-left: 8%;
	}

	.nav-item {
    	font-size: 15px;
    }

    .nav-item.contact {
    	font-size: 15px;
    }

    .content-container {
		    padding-top: 8%;
	}

	.image-row {
		padding-left: 15px;	
	}

	.img-window {
    	height: 240px;
    }

    .img-window img {
	    position: relative;
	    bottom: 50px;
	    height: 350px;
	    width: 350px;
	}

	.about-text {
		width: 100%; 
	}

	.project-modal {
			height: 100vh;
			width: 100vh;
	}

	.project-modal-card {
		padding-left: 5%;
		padding-top: 40%;
		height: 312.5px;
    	width: 375px;
	}

	.inner-modal-text {
		width: 380px;
	}

	.inner-modal-text-title {
		padding-top: 4px;
		padding-left: 0px;
		font-size: 12px;

	}

	span.desc {
		font-size: 10px;
	}

	.inner-modal-description {
		padding-left: 0px;
     	padding-top: 10px;
     	font-size: 9px;
     	width: 360px;
	}

	.button-upper-left {
		left: -1px;
		height: 0px;
	}

	.button-lower-left {
		left: 26px;
		height: 56px;
	}

}